name: Build .NET Application

on:
  push:
    branches:
      - main  # Set this to your default branch if it's not 'main'

jobs:
  build:
    runs-on: ubuntu-latest  # This will use the latest Ubuntu runner

    steps:
    - uses: actions/checkout@v6
      name: Checkout code

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'  # Specify the .NET version

    - name: Publish
      run: dotnet publish GotikAniki69.Server/GotikAniki69.Server.csproj --configuration Release --runtime linux-x64 --output ./publish

    - name: Upload Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: published-app
        path: ./publish/
